<!DOCTYPE html>
<html>
<head>
    <style>
        h1 {text-align: center;}
        h3 {text-align: center;}
        div {text-align: center;}
    </style>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Ethlas Case Study - Zhenna Lu</title>
</head>
<body>
  <div class="container">

    <div class="col-lg-12">
      <center><h1 style="padding:30px;font-weight: 600 !important;font-size: 3.2em">WEB3 PHISHING DETECTION APP</h1></center>
    </div>

   <div class="col-lg-12">
        <center><h4>Message entered:</h4></center>
        <center><h4>{{message}}</h4></center><br>
        <h3>Predicted Label : {{pred}}</h3>
        <h3>This is likely{{is_phising}} a phishing message.</h3>
    </div>

  </div>

</body>
</html>